body {
  background: #272727;
  color: white;
  margin: 0;
  padding: 0.2rem;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
.listwrap {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
.listwrap::-webkit-scrollbar {
  display: none;
}
.moviecard img {
  max-height: 40vh;
  margin: 0;
}
.moviecard p {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.moviecard {
  margin: 5px;
  cursor: pointer;
  max-width: 100%;
}

input {
  font-size: 1.2rem;
  margin-left: auto;
}
.header {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  padding-left: 0.5rem;
}
h1 {
  margin: 0;
}
.favouritestab {
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.imgcont {
  position: relative;
}
.imgcont:hover {
  transform: scale(108%);
  transition: 0.2s;
  opacity: 0.5;
}
.imgcont:hover .favouritestab {
  opacity: 0.8;
  transition: 0.8 ease;
}
p {
  white-space: break-spaces;
  overflow-wrap: break-word;
  width: 13vw;
  font-size: 1rem;
}
.typecont {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.typebar::-webkit-scrollbar {
  display: none;
}
*:focus {
  outline: none;
}
.typebar {
  width: 10vw;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
  padding: 0.2rem;
  background-color: transparent;
  color: white;
}
